/* Designa grundpbjekt, länkar paragrafer, rubriker, knappar, färger, färgkompinationer, storlekar */

.design-palette .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

@media (min-width: 1200px) {
    .btn-mobile {
        display: block;
    }
}