:root {
    --color-dark: #0B0F19;
    --color-primary: #6366F1;
    --txtclr-heading: #131022;
    --color-gray900: #9397AD;
    --color-gray800: #33354D;
    --color-gray600: #9397AD;
    --color-gray300: #E2E5F1;
    --color-breadtext: #585C7B;
    --color-white: #fff;

    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;

}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

h1 {
    font-weight: 800; 
}

h5 {
    font-weight: 800;
    font-size: 20.8px;
}

p {
color: var(--color-breadtext)
}

button {
    border: none;
}


.container {
    width: 100vw;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

.grid-center {
    display: grid; 
    place-items: center;
}


.page {
    height:90vh;
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
}


/* HEADER */

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr auto auto;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.logo {
    margin-left: 1rem;
}

/* sign in button */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--color-gray900);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary {
    margin-right: 0.5rem;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

/* color mode toggler */
.btn-toggle-switch {
    position: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    box-shadow: 0px 8px 18px -8px #6366F1;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-gray900);
    transition: var(--transition-time);
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: var(--transition-time);
}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

/* navbar - mobile mode */
.navbar {
    display: none;
}

.active  {
    color: var(--color-primary);
    text-decoration: none;
}

.nav-link {
    color: var(--color-gray800);
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: none;
}

#sign-in {
display: none;
}


/* PAGE ONE */

.page-one {
    display: grid;
    height:75vh;
    /* grid-auto-rows: minmax(100px, auto); */
    /* height: ; */
    grid-template-areas: 
        "title title" 
        "maintext maintext"
        "applink applink"
        "btn discover"
    ;

    grid-template-rows: 2fr 2fr 2fr 1.5fr;

    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);

    .container {
        /* display: grid; */
    align-items: center;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    }
 
}

.title { grid-area: title;}
.maintext {grid-area: maintext;}
.applink {grid-area: applink;}
.btn {grid-area: btn;}
.discover {grid-area: discover;}

.imgcontainer {
    width: 100%;
} 

/* title & maintext */
.title {
    padding: 1rem;
    /* display:flex; */
    /* width: 30rem; */
    h1 {
        font-size: 3rem;
    }
}

.maintext {
    p {
        font-size: 1.35rem;
    }
}

/* app buttons */
.applink {
    gap: 1rem;
}
.appbtn {
    padding: .5rem;
    width: 100%;
    background-color: var(--txtclr-heading);
    border-radius: .5rem;
}

.appimg {
    height: 2.5rem;
}


/* Arrow button */

.vectorarrow {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background-color: var(--color-white);
    height: 3.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}

.arrowdown {
    padding: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Text */
.discover {
    p {
        color: var(--txtclr-txt);
        font-size: 0.94rem;
    }
}


/* BRANDBOX */
#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.brand-box {
    border: 1px solid var(--color-gray300);
    border-radius: 8px;
    height: 6.25rem;
    width: 12.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* FOOTER */
footer {
    font-size: 14px;
    color: var(--color-gray600);
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;

    }
    
}





@media (min-width : 768px) {
    .container {
        max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
    }

    #brands {
        display: block;
        

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .brand-box {
        width: 10rem;
        height: 6rem;
    }

    #brand5, #brand6 {
        display: none;
    }

    footer {
        /* .container {
            display: flex;
            flex-direction: column;
        } */
    }
}


@media (min-width : 1400px) {
    .container {
        max-width: 1320px;
    }

    .btn-toggle-switch .label {
        display: block;
        
    }

    header .container {
        grid-template-columns: auto 1fr auto auto auto auto;
        gap: 3rem;
    }

    #sign-in {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

    .brand-box {
        height: 6.25rem;
    width: 12.25rem;
    }

    #brand5, #brand6 {
        display: flex;
    }
}