:root {
  --color-dark: #0B0F19;
  --color-primary: #6366F1;
  --color-primary-active: hsla(239, 70%, 56%, 0.1);
  --color-dark-btn: hsla(0, 0%, 100%, 0.07);
  --color-dark-active:hsla(239, 70%, 56%, 0.3);
  --color-success: #22C55E;
  --txtclr-heading: #131022;
  --color-gray900: #0B0F19;
  --color-gray800: #33354D;
  --color-gray700: #565973;
  --color-gray600: #9397AD;
  --color-gray500: #B4B7C9;
  --color-gray400: #D4D7E5;
  --color-gray300: #E2E5F1;
  --color-gray200: #EFF2FC;
  --color-gray100: #F3F6FF;
  --color-breadtext: #585C7B;
  --color-white: #fff;
  --color-transparent: transparent;
}

.btn-pri {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
  -webkit-tap-highlight-color: transparent;
}
.btn-pri:hover {
  background-color: var(--color-transparent);
  color: var(.btn-pri:hover hover-text-color);
  border-color: var(--color-primary);
}
.btn-pri:active {
  background-color: var(--color-primary-active);
}

.btn-mobile {
  background-color: transparent;
  font-size: 1.4em;
}
.btn-mobile:hover {
  color: var(--color-primary);
}

.appbtn {
  background-color: var(--txtclr-heading);
}
.appbtn:hover {
  box-shadow: 0px 8px 18px -8px var(--txtclr-heading);
}

.btn-toggle-switch {
  position: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.toggle-switch input:checked + .slider {
  background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
  box-shadow: 0px 8px 18px -8px #6366F1;
}

.toggle-switch input:checked + .slider:before {
  background-color: var(--color-white);
}

.toggle-switch .slider {
  background-color: var(--color-gray600);
  box-shadow: 0px 8px 18px -8px #6366F1;
}

.toggle-switch .slider:before {
  background-color: var(--color-white);
}

/* Arrow button */
.btn_arrow {
  background-color: var(--color-white);
}
.btn_arrow:hover {
  background-color: var(--color-primary);
  box-shadow: 0px -8px 18px -8px rgba(99, 101, 241, 0.8);
}
.btn_arrow:active {
  background-color: #4f51d6;
}

.darkmode .btn-pri {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
  -webkit-tap-highlight-color: transparent;
}
.darkmode .btn-pri:hover {
  background-color: var(--color-transparent);
  color: var(.darkmode .btn-pri:hover hover-text-color);
  border-color: var(--color-primary);
}
.darkmode .btn-pri:active {
  background-color: var(--color-dark-active);
}
.darkmode .btn-pri .btn-mobile {
  color: var(--color-white);
}

a {
  color: var(--color-gray800);
}
a:hover, a:active {
  color: var(--color-primary);
}

.darkmode a {
  color: var(--color-white);
}
.darkmode a:hover, .darkmode a:active {
  color: var(--color-primary);
}

p {
  color: var(--color-breadtext);
}

h1, h2, h3, h4, h5 {
  color: var(--txtclr-heading);
}

h6 {
  color: var(--color-gray900);
}

li {
  color: var(--color-breadtext);
}

input::-moz-placeholder {
  color: var(--color-gray500);
}

input::placeholder {
  color: var(--color-gray500);
}

.navbar {
  color: var(--color-gray800);
}

.darkmode p, .darkmode h1, .darkmode h2, .darkmode h3, .darkmode h4, .darkmode h5 {
  color: var(--color-white);
}

@media (min-width: 1200px) {
  p {
    color: var(--color-gray700);
  }
  li {
    color: var(--color-gray700);
  }
}
body {
  background-color: var(--color-white);
}

.gradient {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}

.background-clr {
  background-color: var(--color-gray100);
}

.darkmode {
  background-color: var(--color-gray900);
}
.darkmode .gradient {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 50%, rgba(19, 16, 35, 0.01) 83%);
}
.darkmode .background-clr {
  background-color: hsla(0, 0%, 100%, 0.07);
}/*# sourceMappingURL=theme.css.map */