
@mixin center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin right-screen {
    display: flex;
    justify-content: right;
    align-items: center;
}

@mixin left-screen {
    display: flex;
    justify-content: left;
    align-items: center;
}

@mixin grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}


