.btn-pri {
    @include button-colors (--color-primary, --color-white, --color-transparent, --color-primary, --color-primary, --color-primary, --color-primary-active);
}

// .btn-dark {
//     @include button-colors (--color-dark-btn, --color-gray800, --color-white, --color-primary, --color-primary, --color-primary, --color-primary-active);
// }

.appbtn {
    background-color: var(--txtclr-heading);
    &:hover {
        box-shadow: 0px 8px 18px -8px var(--txtclr-heading);
    }
}

// .btn-mobile {
 
// }

.darkmode {
    .btn-pri {
        @include button-colors (--color-primary, --color-white, --color-transparent, --color-primary, --color-primary, --color-primary, --color-dark-active);
        
        .btn-mobile {
            color: var(--color-white);
        }
    }
}

// .btn-menu {

// }