.darkmode {
    body {
        // @include bg-dark;
    }

    background-color: var(--color-gray900);

    .gradient {
        background: rgb(99,102,241);
        background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 50%, rgba(19, 16, 35, 0.01) 83%);
     }

     .background-clr {
        background-color: hsla(0, 0%, 100%, 0.07);
    }

    p, h1, h2, h3, h4, h5{
        color: var(--color-white)}


    // HEADER
    .logo_dark {
        display: none;
    }
    
    .logo_light {
        display: block;
    }

    // PAGE ONE
    .appimg-light {
        display: none;
    }
    
    .appimg-dark {
        display: block;
    }
    
    .appbtn {
        background-color: #EFF2FC;
    }

    .appbtn:hover {
        box-shadow: 0px 8px 18px -8px rgba(255, 255, 255, 0.5);
    }

    .discover-btn {
        p {
             opacity: 70%;
            }
        .img {
            opacity: none;
        }
    }

    .btn_arrow {
        background-color: rgba(255, 255, 255, 0.05);
        .arrow-dark {
            display: none;
        }
        .arrow-light {
            display: block;
        }

        &:hover {
            background-color: var(--color-primary);
        }

        &:active {
            background-color: #4f51d6;
        }
    }

    
    // PAGE TWO
    .page_features {
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .feature_img {
        background-color: rgba(255, 255, 255, 0.05);
    }


    // PAGE THREE
    .page_how {
        p {
            color: var(--color-breadtext);
        }
    }

    // PAGE FOUR 
    .page_transfer-receive {
        li {
            color: rgba(255, 255, 255, 0.7);
        }
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    // PAGE FIVE
    .review {
        background-color: rgba(255, 255, 255, 0.04);
        h6 {
            color: white;
        }
    }
        
    // PAGE SIX
    .question_text {
        p {
            color: var(--color-breadtext);
        }
    }

    // Accordination
    .accordion {
        label {
            color: var(--color-white);
            background-color: var(--txtclr-heading);
            border-color: rgba(255, 255, 255, 0.15);
        }
    }

    .acc_content {
        background-color: var(--txtclr-heading);
        border-color: rgba(255, 255, 255, 0.15);

        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    label::after {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }

    .questions_call-txt {
        border: 1px solid rgba(255, 255, 255, 0.15);
        p {
            color: var(--color-gray700);
        }

    }

    // PAGE SEVEN
    .page_news {
        background-color: rgba(255, 255, 255, 0.04);
    }

    // Subscribe
    .Subscribe_input {
        background-color: rgba(255, 255, 255, 0.02);
        border-color: rgba(255, 255, 255, 0.18);
        /* opacity: 40%;  */
    }


    input[type=email]:focus {
        color: rgba(255, 255, 255, 0.7);
    }

    // FOOTER
    footer {
        p {
            color: var(--color-gray600);
        }
    }


    @media ( min-width: 768px ) {
    // PAGE ONE
    .maintext {
        p {
            color: var(--color-breadtext);
        }
    }

    // BRANDBOX
    .brand-box {
        background-color: var(--txtclr-heading);
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
    
    // PAGE SEVEN
    .accordion {
        label {
            background-color: rgba(255, 255, 255, 0.04);
        }
        input:checked + label  {
            border-radius: 8px 8px 0px 0px;
            
        }
    }
    
    .accordion_box {
        border-radius: 0;
    }
    
    .acc_content {
        background-color: rgba(255, 255, 255, 0.04);
        
    }
    
    }
    
    @media (min-width : 1200px) {
        .maintext {
            p {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        // PAGE TWO
        .page_features {
            p {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        // PAGE THREE
        .page_how {
            p {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

}