a {
    color: var(--color-gray800);

    &:hover, &:active {
        color: var(--color-primary);
    }
}

.darkmode {
    a {
        color: var(--color-white);

        &:hover, &:active {
            color: var(--color-primary);
        }
    }

}