.btn_primary {
    @include btn;
    @include btn_base;
}

.btn_primary-dark {
    @include btn;
    @include btn_base;
}

.btn-menu {
    @include btn;

}

.appbtn {
    @include btn;
    padding: .5rem;
    width: 100%;
    border-radius: .5rem;

}