.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 1rem;
    // padding-right: 1rem;

    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include desktop {
        max-width: 1295px;
    }
}

.padding-rl {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.grid-center {
    display: grid; 
    place-items: center;
}