.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media desktop {
        max-width: 1295px;
    }
}